@model Slider

<div class="carousel-item active">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="taital_main">
                    <h4 class="banner_taital">@Model.Title</h4>
                    <p class="banner_text">@Model.Description</p>
                </div>
            </div>
            <div class="col-md-6">
                <div><img src="~/images/img-1.png" class="image_1"></div>
            </div>
        </div>
    </div>
</div>