@model About

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="image_2"><img src="~/images/img-2.png"></div>
        </div>
        <div class="col-md-6">
            <h1 class="about_taital"><span class="us_text">Haqqımızda</span></h1>
            <p class="about_text">@Model.Descriptsion</p>
        </div>
    </div>
</div>